extends /base

block content
    h1 Create Genre

    form(method="POST")
        div
            - const err = !!form?.errors.name ?? false;
            if err
                ul: li= form.errors.name

            - const val = form?.name ?? "";
            input(placeholder="Genre name...", name="name" value=val)

        button(type="submit") Submit
