extends /base

block content
    h1 Author: #{author.name}

    hr

    ul.entity__actions
        li: a(href=`/catalog/author/${author.id}/delete`) Delete
        li: a(href=`/catalog/author/${author.id}/update`) Update
    </ul>
